.App {
  text-align: center;
  font-size: 2vw;
}

body {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

.bedroom {
  display: flex;
  flex-direction: row;
  height: auto;
}
.bedroom-text {
  width: 50%;
  margin: auto 5%;
  margin-top: 2%;
}

.bedroom-carousel {
  width: 50%;
  height: 40vw;
  margin: auto 5%;
}
