.App {
  text-align: center;
  font-size: 2vw;
}

body {
  padding: 0;
}
a,
input,
label,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

.bedroom {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 5%;
  margin-top: 0%;
}
.bedroom-text {
  width: 50%;
  margin: auto 5%;
  margin-top: 2%;
}

.bedroom-carousel {
  width: 50%;
  height: 60%;
  margin: auto 5%;
}

@media screen and (max-width: 700px) {
  .bedroom {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
}
